@keyframes run {
  0% {
    left: -25px;
    top: -25px;
  }

  32% {
    left: 195px;
    top: -25px;
  }

  49% {
    left: 195px;
    top: 95px;
  }

  81% {
    left: -25px;
    top: 95px;
  }

  100% {
    left: -25px;
    top: -25px;
  }
}

.border-star {
  .generalContainer;
  .globalCenter;

  .box {
    height: 100px;
    width: 200px;
    background-color: yellow;
    border: 5px solid orange;
    position: relative;

    .star {
      position: absolute;
      height: 20px;
      width: 20px;
      background: red;
      top: -25px;
      left: -25px;
      // border-radius: 50%;
      // overflow: hidden;
      animation: run 4s linear infinite;


      .bar {
        position: absolute;
        width: 4px;
        height: 10px;
        background: black;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}