.AAAA {
  .generalContainer;
  .globalCenter;

  .circle {
    width: 200px;
    height: 200px;
    background: pink;
    border-radius: 50%;
    position: relative;

    .bar {
      height: 100px;
      width: 30px;
      background: red;
      position: absolute;
      top: 0;
      left: 85px;
      transform-origin: bottom center;

      .inner-circle {
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: orange;
        top: 0;
        .globalCenter;
      }
    }
  }
}